.enter-task{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.enter-task-form{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.enter-task-form-input-text{
    border: 0;
    border-bottom: 1px solid #3e3e3e;
    height: 50px;
    outline: 0;
    padding-left: 10px;
    width: 90%;
}

@media screen and (min-width: 425px){

    .enter-task-form-input-text{
        font-size: 15px;
    }
}

@media screen and (min-width: 768px){
    
    .enter-task-form-input-text{
        width: 400px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px){
    
    .enter-task-form-input-text{
        width: 600px;
        font-size: 25px;
    }
}