.enter-task{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.enter-task-form{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.enter-task-button{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #d7eafb;
    border-radius: 50px;
    color: #0075ff;
}

.enter-task-button svg{
    fill: #0075ff;
    width: 30px;
    margin-right: 5px;
}

@media screen and (min-width: 425px){

    .enter-task-button{
        width: 350px;
    }
}

@media screen and (min-width: 1024px){
    
    .enter-task-button{
        cursor: pointer;
    }
    
    .enter-task-button:hover{
        background-color: #e3f1fc;
        transition: all .3s;
    }
}