*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todo-app{
    
}

@import url(./components/header.css);

@import url(./components/enter-task.css);

@import url(./components/task.css);

@import url(./components/edit-task.css);